body{
	margin : 0;
	background-color: #f1f1f1;
	font-family: Helvetica;
}
h1{
	display: block;
	background: #1DA1F2;
	box-sizing: border-box;
	font-size: 34px;
	color: white;
	margin: 0;
	font-family: Helvetica;
	padding: 20px 0;
	padding-left: 10px;
	max-width: 100%;
}

p{
	/*display: inline-block;*/
	word-wrap: break-word;
	display: inline-block;
  /*  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;*/

}
.head-container{
	
	min-width: 700px;
	margin: 0 20%;

}

.tweetBox{
  	margin: auto;
 	word-wrap: break-word;
	background-color: #e8f5fd;
	padding-bottom: 10px;
}
#avater{
	padding-top: 0px;
	width: 38px;
    height: 38px;
}

.textBox{
	padding: 10px 14px;
 	margin: 10px 0px;
	width: 40%;
  	height: 15px;
  	border-radius: 10px;
 	border-color: rgb(29, 161, 242)
}

#textArea{
	display: block;
	padding: 10px 14px;
	resize: none;
	width: 70%;
	height: 100px;
	border-radius: 10px;
	margin-left: 77px;
	border-color: rgb(29, 161, 242)
}

.btn{
	color : rgb(255, 255, 255);
	font-family: Helvetica Neue;
	font-weight: 700;
	letter-spacing: normal;
	height: 40px;
  	width: 100px;
  	background-color: #1DA1F2;
  	border-radius: 20px;
}
.newTweet{
	display: none;
}


.container {
  border: 0;
  margin: auto;
  word-wrap: break-word;

}
.content{
	display: none;
}
.content.active{
	display: block;
	margin: 0;
	width : 100;
	background-color: white;
	border-top: 2px solid #f1f1f1;
	word-wrap: break-word;
	overflow: auto;
}
.itemHeaderGroup{
	display: block;
	width: auto;
}

.username{
	display: inline-block;
	margin: 10px 5px;
	color: #14171a;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
	color: #1DA1F2;
}

.userTag{
	display: inline-block;
	margin: 0;
	color: #657786;
    font-size: 14px;
    font-weight: lighter;

}
.avater{
	
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 10px;

	float: left;
	height: 100%;
	border-radius: 50%;
	width: 48px;
    height: 48px;
}

#time{
	display: inline-block;
	float: right;
	padding: 0 2px;
	font-size: 12px;
	margin: 0;
	white-space: pre-wrap;
	font-weight: lighter;
	
}
#timesAgo{
	display: inline-block;
	padding: 9px 6px;
	font-size: 14px;
	margin: 0;
	font-weight: lighter;
	color: #657786;
}

.tweet{
	display: inline-block;
	width: 80%;
	padding: 9px 6px;
	font-size: 14px;
	margin: 0;
	white-space: pre-wrap;

}


